<template id="my-alert-template">
  <style>
    .alert {
      position: relative;
      border-radius: 6px;
      border: 1px solid #dddddd;
      background-color: #fefefe;
      padding: 0.6em 0.6em;
    }

    .alert--warning {
      border-color: #faebcc;
      background-color: #fcf8e3;
    }

    .alert--error {
      border-color: #ebccd1;
      background-color: #f2dede;
    }

    .alert--success {
      border-color: #d6e9c6;
      background-color: #dff0d8;
    }

    .alert__title,
    .alert__body > * {
      font-weight: bold;
    }

    .alert__title {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  </style>

  <div class="alert">
    <p class="alert__title">アラートタイトル</p>
    <div class="alert__bosy">
      <p>アラート本文</p>
    </div>
  </div>
</template>
