<template id="my-alert-template">
  <style>
    :host {
      display: block;
      position: relative;
      border-radius: 6px;
      border: 1px solid #dddddd;
      background-color: #efefef;
      padding: 0.6em 0.6em;
    }

    :host([warning]) {
      border-color: #faebcc;
      background-color: #fcf8e3;
    }

    :host([error]) {
      border-color: #ebccd1;
      background-color: #f2dede;
    }

    :host([success]) {
      border-color: #d6e9c6;
      background-color: #dff0d8;
    }

    [id="alert-title"] {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }

    ::slotted(*) {
      margin: 0;
      padding: 0;
    }

    ::slotted(ul) {
      margin-left: 1.2rem;
    }
  </style>

  <p id="alert-title"></p>
  <slot name="body"></slot>
</template>
